---
import { Icon } from 'astro-icon';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
  iconName?: string;
  icon2Name?: string;
}

const {
  label = 'Toggle Menu',
  class:
    className = 'ml-1.5 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center transition',
  iconClass = 'w-6 h-6',
  iconName = 'tabler:phone',
  icon2Name = 'tabler:mail',
} = Astro.props;
---

<!-- data-aw-toggle-menu -->
<a class={className} aria-label={label} href="tel:323-413-7428">
  <Icon name={iconName} class={iconClass} optimize={false} />
</a>
<a class={className} aria-label={label} href="mailto:onlinesales@lacentercloseout.com?subject=Website Inquiry">
  <Icon name={icon2Name} class={iconClass} optimize={false} />
</a>
